<style>
    .loginsignupmainbody {
        background-color: rgb(230, 225, 225);
        width: 500px;
        margin: 30px auto;
        display: flex;
        flex-direction: column;

    }
/* 
    .buttonsloginsignup {
        width: 100%;
        display: flex;
    } */

    /* .signupbutton {
        width: 50%;
        height: 50px;
    } */

    .loginsignupbutton {
        width: 100%;
        height: 50px;
    }
    .loginform {

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .signupform {

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nonactiveform{
        display: none;
    }
    .buttontextactive{
        font-size: 22px;
    }
    
</style>
{% extends 'basic.html' %}
{% block body %}
<div class="loginsignupmainbody">
    <div class="buttonsloginsignup">
        <button class="loginsignupbutton"><p class="buttontext buttontextactive" style="display: inline-block;margin-right: 30%;">Login</p><p class="buttontext1" style="display: inline-block;">Signup</p></button>
    </div>
    <div class="loginformdiv">
        <form action="/login/" method="POST" class="loginform">
            {% csrf_token %}
            <div style="margin: 20px auto;">
                <label style="font-size: 20px;margin-right: 10px;" for="username">username</label>
                <input type="text" name="username1">
            </div>
            <div style="margin: 12px auto;;">
                <label style="font-size: 20px;margin-right: 10px;" for="password">password</label>
                <input type="text" name="password1">
            </div>
            <div style="text-align: left;width: 250px;margin-top: 12px;margin-bottom: 10px;" >
            <a style="color: blue;font-size: 18px;cursor: pointer;" href="/forgotpassword">Forgot password</a>
            </div>
            <div>
            <button style="margin-top: 15px;background-color: aqua;height: 30px;width: 90px;font-size: 20px;margin-bottom: 15px;cursor: pointer;" type=" submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="signupformdiv nonactiveform">
        <form action="/signup/" class="signupform" method="POST">
            {% csrf_token %}
            <div style="margin: 8px auto;width: 90%;text-align: center;">
                <label style="font-size: 20px;margin-right: 20px;" for="username">username</label>
                <input type="text" name="username">
            </div>
            <div style="margin: 8px auto;width: 90%;text-align: center;">
                <label style="font-size: 20px;margin-right: 60px;" for="email">email</label>
                <input type="text" name="email">
            </div>
            <div style="margin: 8px auto;width: 90%;text-align: center;">
                <label style="font-size: 20px;margin-right: 55px;" for="firstname">Name</label>
                <input type="text" name="firstname">
            </div>
            <div style="margin: 8px auto;width: 90%;text-align: center;">
                <label style="font-size: 20px;margin-right: 21px;" for="password">password</label>
                <input type="text" name="password">
            </div>

            <div>
                <button style="margin-top: 15px;background-color: aqua;height: 30px;width: 90px;font-size: 20px;margin-bottom: 15px;cursor: pointer;" type=" submit">Submit</button>
            </div>
        </form>
    </div>


</div>
.



{% endblock body %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
console.log("arggesfgvsfvbgfsgbfsg");
$('.loginsignupbutton').click(function(){
    var buts=document.querySelector(".buttontext");
    buts.classList.toggle("buttontextactive");
    var buts1=document.querySelector(".buttontext1");
    buts1.classList.toggle("buttontextactive");
    var elems=document.querySelector(".loginformdiv");
    elems.classList.toggle("nonactiveform");

 
    var elems2=document.querySelector(".signupformdiv");
  
    elems2.classList.toggle("nonactiveform");
    

});

</script>
{% endblock js %}
{% block footer %}
<div class="footermain" style="background-color: #00FFFF ;width:100%;display: flex;flex-direction: column;margin-top: 10px;align-items: center;align-content: center;position: fixed;left: 0px;bottom: 0px;">
    <div style="margin: 10px auto; color: grey;padding: 0px 10px;">
        <p>© Copyright 2021 Bloggers Site &ensp;|&ensp;  All Rights Reserved  &ensp;|&ensp;  Legal Disclaimer  &ensp;</p>
    </div>
    <div>
        <p style="margin-bottom: 10px;">Share Us</p>
    </div>
    <div class="mediashares">
        <div class="whatsappshare shareicondiv">
            {% load static %}
            <a href="whatsapp://send?text=http://127.0.0.1:8000/" target="_blank" rel="nofollow"><img class="whatsappshareimage shareicon" src="{% static 'home/whatsapp.png' %}"></a>
        </div>
        <div class="linkedinshare shareicondiv">
            {% load static %}
            <a href="https://www.linkedin.com/shareArticle?url=http://127.0.0.1:8000/&title=" target="_blank" rel="nofollow"><img class="linkedinshareimage shareicon" src="{% static 'home/linkedin.png' %}">
            </a>

        </div>
        <div class="twittershare shareicondiv">
            {% load static %}
            <a href="https://twitter.com/intent/tweet?url=http://127.0.0.1:8000/&text=&via=" target="_blank" rel="nofollow"><img class="twittershareimage shareicon" src="{% static 'home/twitter.png' %}">
            </a>

        </div>
        <div class="facebookshare shareicondiv">
            {% load static %}
            <a href="https://www.facebook.com/sharer.php?u=http://127.0.0.1:8000/" target="_blank" rel="nofollow"><img class="facebookshareimage shareicon" src="{% static 'home/facebook.png' %}">
            </a>
        </div>
    </div>
</div>
{% endblock footer %}